<?xml version="1.0" encoding="utf-8"?>
<!-- eSeries OFS Service - 8082 Test - Rev 1.18 by R.Short - BitLink 10/01/19 -->
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <!-- Host/Service log file (e.g. "c:\ESLService\Srv\log-{Date}.txt" or "" to disable) -->
    <add key="OfsLogFile" value="C:\Users\jcamarena\Documents\torreypines\OFS\logs\OfsLog-{Date}.txt"/>
    <add key="numDaysToKeepLogFiles" value="30"/>

    <!-- Host parameters -->
    <add key="pollingIntervalMinutes" value="5"/>

    <!-- Odyssey reviewFiling filePaths -->
    <add key="filingQueueFolder" value="C:\Users\jcamarena\Documents\torreypines\OFS\out\queued"/>
    <add key="filingFailedFolder" value="C:\Users\jcamarena\Documents\torreypines\OFS\out\failed"/>
    <add key="filingSuccessFolder" value="C:\Users\jcamarena\Documents\torreypines\OFS\out\success"/>
    <add key="submitReviewFolder" value="C:\Users\jcamarena\Documents\torreypines\OFS\in\review\submit"/>
    <add key="notifyReviewFolder" value="C:\Users\jcamarena\Documents\torreypines\OFS\in\review\notify"/>
    <add key="notifyReviewCallbackUrl" value="http://localhost/public-portal/ESL_OdysseyRfService"/>
    <add key="numDaysToKeepMsgFiles" value="90"/>

    <!-- Odyssey statute filePaths -->
    <add key="filingStatuteFolder" value="C:\Users\jcamarena\Documents\torreypines\OFS\out\statutes"/>
    <add key="statuteFile" value="C:\Users\jcamarena\Documents\torreypines\OFS\out\statutes\statutecodes.xml"/>
    <add key="zipFile" value="C:\Users\jcamarena\Documents\torreypines\OFS\out\statutes\OFSCodeLookup.zip"/>

    <!-- Odyssey SOAP API credentials -->
    <add key="pfxFilePath" value="C:\Program Files (x86)\ESL_OdysseyRfService\certs\bitlink.pfx"/>
    <add key="privateKeyPassword" value="B1tl1nk"/>
    <!--<add key="ofsEmail" value="tyler-interfaces@bitlinksolutions.com"></add>
    <add key="ofsPassword" value="B1tlink!2017"></add> -->
	<add key="ofsEmail" value="dleffler@journaltech.com"></add>
    <add key="ofsPassword" value="Odyssey_JTI_fiLing2020*"></add>
    <add key="courtID" value="fresno:cr"></add>

    <!-- eSuite REST API credentials -->
    <add key="eSuiteRestAPI_url"   value="http://localhost:8080/eprosecutor/ws/rest/ecourt/executeRule"/>
    <add key="eSuiteRestAPI_login" value="jcamarena"/>
    <add key="eSuiteRestAPI_pwd"   value="Clairdel803"/>

  </appSettings>

  <system.serviceModel>
    <!--<client>
      <endpoint address="https://california-stage.tylerhost.net/EFM/EFMUserService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEfmUserService" contract="EFMUserService.IEfmUserService" name="BasicHttpBinding_IEfmUserService"/>
      <endpoint address="https://california-stage.tylerhost.net/EFM/FilingReviewMDEService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_FilingReviewMDEService" contract="EFMFilingReviewService.FilingReviewMDEService" name="BasicHttpBinding_FilingReviewMDEService"/>
      <endpoint address="https://california-stage.tylerhost.net/EFM/EFMFirmService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEfmFirmService" contract="EFMFirmService.IEfmFirmService" name="BasicHttpBinding_IEfmFirmService"/>
      <endpoint address="https://california-stage.tylerhost.net/EFM/CourtRecordMDEService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_CourtRecordMDEService" contract="CourtRecordMDEService.CourtRecordMDEService" name="BasicHttpBinding_CourtRecordMDEService"/>
    </client>-->
	<client>
      <endpoint address="https://california.tylerhost.net/EFM/EFMUserService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEfmUserService" contract="EFMUserService.IEfmUserService" name="BasicHttpBinding_IEfmUserService"/>
      <endpoint address="https://california.tylerhost.net/EFM/FilingReviewMDEService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_FilingReviewMDEService" contract="EFMFilingReviewService.FilingReviewMDEService" name="BasicHttpBinding_FilingReviewMDEService"/>
      <endpoint address="https://california.tylerhost.net/EFM/EFMFirmService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEfmFirmService" contract="EFMFirmService.IEfmFirmService" name="BasicHttpBinding_IEfmFirmService"/>
      <endpoint address="https://california.tylerhost.net/EFM/CourtRecordMDEService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_CourtRecordMDEService" contract="CourtRecordMDEService.CourtRecordMDEService" name="BasicHttpBinding_CourtRecordMDEService"/>
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBinding_filingNotificationService" messageEncoding="Mtom" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" transferMode="Buffered" textEncoding="utf-8">
          <readerQuotas maxDepth="1024" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="16384"/>
          <security mode="Transport" >
            <transport clientCredentialType= "None"/>
          </security>
        </binding>
        <binding name="BasicHttpBinding_IEfmUserService" messageEncoding="Mtom">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="Certificate"/>
          </security>
        </binding>
        <binding name="BasicHttpBinding_IEfmUserService1" messageEncoding="Mtom">
          <security mode="Transport"/>
        </binding>
        <binding name="BasicHttpBinding_FilingReviewMDEService" messageEncoding="Mtom">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="Certificate"/>
          </security>
        </binding>
        <binding name="BasicHttpBinding_FilingReviewMDEService1" messageEncoding="Mtom">
          <security mode="Transport"/>
        </binding>
        <binding name="BasicHttpBinding_IEfmFirmService" messageEncoding="Mtom">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="Certificate"/>
          </security>
        </binding>
        <binding name="BasicHttpBinding_IEfmFirmService1" messageEncoding="Mtom">
          <security mode="Transport"/>
        </binding>
        <binding name="ServiceMDEPortSOAPBinding" messageEncoding="Mtom">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="Certificate"/>
          </security>
        </binding>
        <binding name="FilingAssemblyMDEPortSOAPBinding" messageEncoding="Mtom">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="Certificate"/>
          </security>
        </binding>
        <binding name="CourtRecordMDEPortSOAPBinding" messageEncoding="Mtom">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="Certificate"/>
          </security>
        </binding>
        <binding name="FilingReviewMDEPortSOAPBinding" messageEncoding="Mtom">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="Certificate"/>
          </security>
        </binding>
        <binding name="BasicHttpBinding_CourtRecordMDEService" messageEncoding="Mtom">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="Certificate"/>
          </security>
        </binding>
      </basicHttpBinding>
      <mexHttpsBinding>
        <binding name="secureMexBinding" />
      </mexHttpsBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <messageBehaviorExtension/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="messageBehaviorExtension" type="NotificationService.MessageInspectorBehaviorExtension, NotificationService, Version=1.0.0.0, Culture=neutral"/>
      </behaviorExtensions>
    </extensions>
    <services>
      <service name="NotificationService.FilingAssemblyMDEPort">
        <host>
          <baseAddresses>
            <!--<add baseAddress="https://daportal.co.fresno.ca.us/public-portal/ESL_OdysseyRfService"/>-->
			<add baseAddress="http://localhost/public-portal/ESL_OdysseyRfService"/>
          </baseAddresses>
        </host>

        <!-- OFS aSync notification service endpoint -->
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_filingNotificationService" contract="NotificationService.IFilingAssemblyMDEPort" bindingNamespace="urn:oasis:names:tc:legalxml-courtfiling:wsdl:WebServiceMessagingProfile-Definitions-4.0" />

        <!-- Wsdl metadata endpoint -->
        <endpoint address="mex" binding="mexHttpsBinding" bindingConfiguration="secureMexBinding" contract="IMetadataExchange"  />

      </service>
    </services>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" bindingConfiguration="basicHttpBinding_filingNotificationService"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>

  <!--
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\BitLink\Traces.svclog"/>
    </sharedListeners>
  </system.diagnostics>
  -->

</configuration>